.node {
    width: 25px;
    height: 25px;
    outline: 1px solid black;
    display: inline-block;
  }
  
  .node-finish {
    background-color: red;
  }
  
  .node-start {
    background-color: green;
  }
  
  .node-visited {
    animation-name: visitedAnimation;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes visitedAnimation {
  
    100% {
      
      background-color: greenyellow;
    }
  }
  
  .node-wall {
    background-color: black;
  }
  
  .node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes shortestPath {
  
    100% {
      background-color: rgb(255, 106, 106);
    }
  }